.wrapper {
    margin: 0 auto;
    width: 50%;
}

.list {
    padding: 15px;
}

/* this is created in the javascripts */
.item {
    list-style: none;
}

.item-checked {
    text-decoration: line-through;
}